*{
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: black 1px solid;
    float: left;
}

.grid{
    background-color: white;
    width: 35px;
    height: 35px;
}

.gen-speed{
    width: 500px;
    padding: 5px;
    float: right;
    margin-bottom: 20px;
}

.gen{
    width: 250px;
    float: left;
}

.spd{
    width: 250px;
    float: right;
}

img{
    width: 100px;
    height: 100px;
}

.images{
    float: right;
    margin-bottom: 20px;
}

.btns{
    float: right;
    width: 500px;
}