.container{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: black 1px solid;
}

.grid{
    background-color: white;
    width: 35px;
    height: 35px;
}

.gen-speed{
    width: 700px;
    padding: 5px;
}

.gen{
    width: 350px;
    float: left;
}

.spd{
    width: 350px;
    float: right;
}